body {
    margin: 0;
    background-color: black;
    font-family:'Orbitron', sans-serif; 
    color: goldenrod;
    font-size: 15px;
}

header {
    text-align: center;
}

header h1 {
    color: goldenrod;
    font-size: 70px;
}

header img {
        border-radius: 400px;
        width: 800px; 
        /*Find out why my pic isn't a circle */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img {
    width: 700px;
    max-width: 100%;
}

h2 {
    color: gray;
    font-size: 30px;
}

a {
    color: goldenrod;
}

a:hover {
    color: indigo;
}

footer {
    text-align: center;
}

/*find second font to use for body text, replace that in body ruleset. 
add h1 and h2 ruleset, apply orbitron font to those*/