body {
    margin: 0;
    background-color: black;
    font-family:'Orbitron', sans-serif; 
    color: goldenrod;
}

header {
    text-align: center;
}

header h1 {
    color: goldenrod;
    font-size: 70px;
    /* find a cool font to use online*/
}

header img {
        border-radius: 400px;
        width: 800px; 
        /*Find out why my pic isn't a circle */
}

