body {
    margin: 0;
    background-color: #FFDE01;
    font-size: 15px;
    text-align: center;
}

header {
    background-color: #BD0100;
    font-size: 50px;
    font-family: "Bangers", Arial;
    text-align: center;
    color: #118015;
}

header img {
    margin-top: 50px;
    width: 400px;
    border-radius: 220px;
    border: solid 10px #F6F5AE;
    box-shadow: 5px 5px 15px 5px #040303;
}

header h1 {
    text-shadow: 2px 2px 2px #040303;
}

main {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    font-family: "Orbitron", Arial;
    text-align: center;

}

h2 {
    font-size: 30px;
    font-family: "Bangers", Arial;
}

main img {
    width: 500px;
    max-width: 100%;
}

.caption {
    margin-top: 0;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #118015;
}

a:hover {
    background-color: #118015;
    color: whitesmoke;
}
footer {
    padding-top: 5px;
    background-color: #BD0100;
}

